[submodule "third-party/doxygen-awesome-css"]
	path = third-party/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "third-party/Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/FakeIt"]
	path = third-party/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "third-party/libhypha"]
	path = third-party/libhypha
	url = https://github.com/OpenCyphal-Garage/libhypha.git
[submodule "third-party/libudpard"]
	path = third-party/libudpard
	url = https://github.com/OpenCyphal/libudpard.git
[submodule "third-party/o1heap"]
	path = third-party/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
